body {
    background-color: black; 
    margin: 0; 
}

.nav-container {
    display: flex; 
    justify-content: space-around; 
    padding: 10px; 
}

.nav-list {
    display: flex; 
    list-style-type: none; 
}

.nav-list a {
    text-decoration: none; 
}

.nav-list a:hover{
    text-decoration: underline white; 
}

li {
    color: white; 
    margin-right: 30px; 
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
}

.slider-container {
    margin: 0 auto; 
    max-width: 1380px;
    margin-top: 30px;  
}

.slide { 
    height: 600px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.slide:focus {
    outline: none; 
}

.first-text {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.slide {
    background-color: black; 
}

.first-main-text {
    font-size: 80px;
    line-height: 95px;
    text-align: center; 
    color: white;
    font-family: 'Playfair Display', serif; 
}

.first-secondary-text {
    font-size: 30px;
    line-height: 48px;
    text-align: center; 
    color: white; 
    font-family: 'Open Sans', sans-serif;
    max-width: 753px; 
}

.second-main-text, .third-main-text {
    font-size: 80px;
    line-height: 95px;
    text-align: center; 
    color: white;
    font-family: 'Playfair Display', serif; 
}

.see-work-button {
    width: 184px;
    height: 57px;
    background: #EECD31;
    border-radius: 25px;
    border: none; 
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase; 
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;

}

.see-work-button:hover {
    background: #c2a729; 
    cursor: pointer; 
}


.slick-dots li button:before, 
.slick-dots li button:focus{
    color: white; 
    font-size: 18px; 
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before{
    color: white; 
}

.slick-dots li.slick-active button:before{
    color: white; 
}


.arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 0;
    height: 0;
    border: none; 
    color: white; 
    background-color: black; 
    font-size: 40px; 
}

.prev-arrow{
    left: -40px;
}

.next-arrow{
    right: -40px;
}

.arrow:hover {
    cursor: pointer; 
}

.arrow:focus {
    outline: none; 
}