body {
    background-color: black; 
    margin: 0; 
}

.nav-container {
    display: flex; 
    justify-content: space-around; 
    padding: 10px; 
}

.nav-list {
    display: flex; 
    list-style-type: none; 
}

li {
    color: white; 
    margin-right: 30px; 
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
}

.slider-container {
    margin: 0 auto; 
    width: 1380px;
    margin-top: 30px;  
}

.slide { 
    height: 600px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.first-text {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.first {
    background-color: black; 
}

.second {
    background-color: red; 
}

.third {
    background-color: blue; 
}

.first-main-text {
    font-size: 80px;
    line-height: 95px;
    text-align: center; 
    color: white;
    font-family: 'Playfair Display', serif; 
}

.first-secondary-text {
    font-size: 30px;
    line-height: 48px;
    text-align: center; 
    color: white; 
    font-family: 'Open Sans', sans-serif;
    width: 753px; 
}

.see-work-button {
    width: 184px;
    height: 57px;
    background: #EECD31;
    border-radius: 25px;
    border: none; 
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase; 
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;

}

.see-work-button:hover {
    background: #c2a729; 
    cursor: pointer; 
}
